@import './common.scss';
@import './sunrise.scss';


#banner{
 width: 160px;
 height: 600px;
}



.logo{
	@include pos-scale(0, 262, .5);
}


.lantern{
	@include pos-scale(0, 195, .5);
}

.cloud.left.a{
	@include pos(30, 0);
}

.cloud.left.b{
	@include pos(110, 0);
}

.cloud.right.a{
	@include pos(-60, 0);
}

.cloud.right.b{
	@include pos(-30, 0);
}

.cloud.right.c{
	@include pos(0, 0);
}

.lanternmask{
	height: 70%;
}