<div id="legalBtn"></div>
<div id="legalContent">
        Individuals must be 19 years of age or older, a resident of Ontario, and located in the province to participate in online PROLINE+ sports betting. Terms and Conditions Apply.



        </div>
        